<%- include('templates/header') %>

<div class="container">
<h1 class="text-center" style="margin-top: 5%;">About The Stonehurst Gazette</h1>
<hr>
<p class="lead">The Stonehurst Gazette is a fictional online news website I designed as part of the web development bootcamp run by <a href="https://www.itpt.co.uk/">ITPT (IT Professional Training)</a>
It has been built with HTML, CSS, JavaScript and Node JS for the backend. The key NPM packages installed and used within this application are Express, Mongoose, EJS, Body-parser and Method-Override.
</p>
<p>The articles have been produced using online text generators and open-source images. They are stored within a MongoDB database.</p>
<p>If you would like to view more examples of my work, please browse the repositories stored within <a href="https://github.com/XandraGates/">my gitHub account</a>.</p>
</div>
<%- include('templates/footer') %>